* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}

.container {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  display: flex;  
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

#b1,
#b2 {
  width: 150px;
  height: 60px;
  margin: 0 auto;
  border-radius: 20px 30px;
  background-color: #f38f07;
  cursor: pointer;
  font-weight: 900;
  margin-top: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}